<div id="header-area" align="center" style="border-radius: 10px; box-shadow: 6px 6px 20px 20px rgba(12, 248, 252, 0.2), 8px 4px 8px 4px rgba(12, 248, 252, 0.19); background: linear-gradient(hsla(333, 87%, 64%, 0.4),#fff1e6);">

<div id="banner" class="banner" style="padding: 0 1% 0 5%;">
    <a class="transparent" href="{{ site.baseurl }}/">
		<img src= "/assets/ezgif.com-gif-maker.gif" alt="Gif of pixel art gardens" style="padding: 0 1% 0 5%; max-height:45vh; max-width:35vw;">
		</a>
	<br>
</div>
    
	
<div id="top-stuff"  style="padding:5%;">
	<h1> {{ site.title }}</h1>	
	<h4 style="color:#000000">micah.meandering,</h4><h5 style="color:#000000"> micah.measuring</h5><h6 style="color:#000000"> micah . melting</h6>
	<a class="internal-link" href="https://micahchoo.github.io/feed.atom" style="color:#000000">RSS</a>   |
	<a class="internal-link" href="https://twitter.com/MicahAlex_" style="color:#000000">Twitter</a>   |
	<a class="internal-link" href="/about" style="color:#000000">About</a>

</div>
</div>
