<div id="header-area" align="center" style="object-fit:scale-down; border-radius: 10px; box-shadow: 0 6px 20px 0 rgba(12, 248, 252, 0.2); background: linear-gradient(hsla(333, 87%, 64%, 0.2),#fff1e6);max-height:100%; max-width:100%;">

<div id="banner" class="banner" style="object-fit:contain; padding: 3.5%; max-height:100%; max-width:100%;">
    <a id="transparent" href="{{ site.baseurl }}/">
		<img src= "/assets/ezgif.com-gif-maker.gif" alt="Gif of pixel art gardens. Must thank the Midj AI gods for this though. Not my work :(" style="object-fit:contain;max-height:45vh; max-width:35vw; padding:0 0 0 0;">
		</a>
	<br>
</div>


<div id="top-stuff"  style="padding:0 2.5em 2.5em 2.5em;">
	<h1> {{ site.title }}</h1>
	<h4>meandering<span style="color:#4962ad; font-family: 'Balthazar'; vertical-align:top;line-height:1.2;"> <sup>[micah]</sup></span></h4>
	<h5>maturing<span style="color:#4962ad; font-family: 'Balthazar'; vertical-align:top;line-height:1.2;"> <sup>[micah]</sup></span></h5>
	<h6>melting<span style="color:#4962ad; font-family: 'Balthazar'; vertical-align:top;line-height:1.2;"> <sup>[micah]</sup></span></h6>
	
	
	<a class="internal-link" href="https://micahchoo.github.io/feed.atom" style="#8c9dcf"><i class="fa-solid fa-solid fa-pizza-slice" style="#8c9dcf; height:0.85em;"></i> My Feed</a>   |
	<a class="internal-link" href="https://twitter.com/MicahAlex_" style="#8c9dcf"><i class="fa-solid fa-dumpster-fire" style="#8c9dcf; height:0.85em;"></i> Bird App</a>   |
	<a href="/about" style="color: #8c9dcf border-bottom: 1px solid $color-border;"> <i class="fa-solid fa-head-side-virus" style=" #8c9dcf; height: 0.85em;"></i> About Me</a>

</div>
</div>

