$color-primary: hsl(190, 10%, 20%);
$color-secondary: hsl(190, 100%, 40%);
$color-text: hsl(165, 5%, 40%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: #f3539b;
$color-box-background: hsla(166, 55%, 71%, 0.2);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  background: linear-gradient(to right, #fff1e6, #f6f6f7);
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 65rem;

  @media (min-width: 100%) {
    font-size: 1.1rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 1em;
  color: mix($color-text, white, 50%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 38vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.9em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h5 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  }
h4 {

  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  color: #f3539b;
}
h6 {
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 0;
  color: hsla(333, 87%, 64%, 1);
}
a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-secondary;
  &:hover {
    color: black !important;
    background: #b5eeff;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}
a.transparent{
  padding: 0.5em;
  text-decoration: none;
  content:"";
  }
a.transparent:after {
	position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "";
  }
a.transparent:hover {
    color: black !important;
  }

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}  
 



*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em 0;
  align: center
}

#notes-entry-container {
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas:
    content
    side;

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
					"content side";
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}


.tag {
  background-color: #f3539b;
  border: 1px solid #f3539b;
  border-radius: $border-radius;
  color: #f6f6f6;
  display: inline-block;
  font-size: 0.8em;
  margin: 0.5em;
  padding: 0.3em 0.6em;
  position: relative;
  text-decoration: none;
}

.tag::before {
  background-color: $color-box-background;
  content: "";
  height: 100%;
  left: 1px;
  position: relative;
  top: 0;
  width: 1px;
}

.tag::after {
  background-color: $color-secondary;
  border-radius: $border-radius;
  content: "";
  height: 100%;
  position: relative;
  right: 1px;
  top: 0;
  width: 1px;
}

	
.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #888888;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #cfcfcf;
  cursor: help;
}
